*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: #f2f2f2 ;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"],
input[type="email"],
/* input[type="number"],
input[type="password"],
input[type="date"], */
select,
textarea{
    /* width: 100%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #fff;
}
.main_heading{
    text-align: center;
}
/* input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding:  12px 20px;
    border: none;
    border-radius: 7px ;
    cursor: pointer;
    transition: all .3s ease-in;
    text-align: center;
    /* transform: translate(0%); */
    /* transform: rotate3dx(100%); */
}

input[type="submit"]:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(8, 142, 252);    
} */
input[type="name"]{

}

.age{
     
}
div a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(60, 199, 199);
}

/* .next_page{
    background: rgb(22, 235, 22);
    color: black;
    padding: 9px;
    border: 15px;
    border-radius: .2rem;
    transition: all .3s ease-in;
} */
.next_page{
    background-color: #6a8cfc;
    color: rgb(3, 2, 2);
    padding:  8px 16px;
    border: none;
    border-radius: 7px ;
    cursor: pointer;
    transition: all .3s ease-in;
    font-weight: 100;
    display: block;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}
h2{
    text-align: center;
}
